.bg-shape {
    border-right: 100vw solid rgba(76, 168, 0, 0.46);;
    border-top: 13vh solid transparent;
    height: 32vh;
    width: 0;
    z-index:1 !important;
}


/* styles for dash app */
#bg-overlay {
    position: fixed;
    width: 100%;
    height:100%;
    left: 0;
    /* right: 0; */
    bottom: 0;
    background-color: "rgba(245,245,245,1)";
    z-index: -1;
}

#bottom_bar {
    position: fixed;
    bottom: 0;
    left: 0;    
    height: 5vh;
    width: 100vw;
    z-index: 2;
}

/* .modebar{
    display: none !important;
} */

.score_bar {
    display: inline-block;
    position: absolute;
    height:100%;
    z-index:3 !important;
}


.corporation_logos{
    position: absolute;
    bottom: 7vh;
    width: 10vw;
    z-index: 2;
    left: 3vw;
    height: 8vh;
    width: auto;
}


#anim_region {
    transform: rotate(-4.29deg);
    top: 15vh;
    position: relative;
    white-space:nowrap;
    background: #fff;
}

.sentence_region {
    display: block;
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 12vh;
}

.anim_letter, .anim_changing_letter {
    display:inline-block;
    width:4vw;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    background: #fff;
}

.anim_letter {
    color: #eee;
}

.anim_changing_letter {
    color: #607B49;
}

.Ctitle {
    top: 40vh;
    z-index: -5;
    width:5vw;
    font-size: 5.5vw;
}
/*
* Banner images
*/
.banner {
    position: absolute;
    z-index: 2;
    right: 5vw;
    bottom: 10vh;
    height: 80vh;
    width: 40vw;
}

#banner_img {
    display: none;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#mobile_region {
    position: absolute;
    top: 18vh;
    text-align: center;
}