.bg-shape {
    border-right: 100vw solid rgba(76, 168, 0, 0.46);;
    border-top: 13vh solid transparent;
    height: 32vh;
    width: 0;
    z-index:1 !important;
}


/* styles for dash app */
#bg-overlay {
    position: fixed;
    width: 100%;
    height:100%;
    left: 0;
    /* right: 0; */
    bottom: 0;
    background-color: "rgba(245,245,245,1)";
    z-index: -1;
}

#bottom_bar {
    position: fixed;
    bottom: 0;
    left: 0;    
    height: 5vh;
    width: 100vw;
}

/* .modebar{
    display: none !important;
} */

.score_bar {
    display: inline-block;
    position: absolute;
    height:100%;
    z-index:3 !important;
}

#home_title {
    position: absolute;
    left: 4vw;
    top: 4vh;
}    

.corporation_icon1{
    position: absolute;
    bottom: 8vh;
    right: 5vh;
    width: 140px;
    height:140px;
    z-index:5;
}

.corporation_icon2{
    position: absolute;
    bottom: 8vh;
    right: 20vh;
    width: 140px;
    height:140px;
    z-index:5;
}

#anim_region {
    transform: rotate(-4.29deg);
    top: 130px;
    position: relative;
    white-space:nowrap;
    background: #fff;
}

.sentence_region {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 6.5rem;
}

.anim_letter {
    display:inline-block;
    width:5rem;
    font-size: 5.5rem;
    text-align: center;
    color: #eee;
    position: absolute;
    background: #fff;
    /* transition: transform 2s ease-out; */
    /* transition: none; */
}

.anim_changing_letter {
    display:inline-block;
    width:5rem;
    font-size: 5.5rem;
    text-align: center;
    color: #607B49;
    position: absolute;
    background: #fff;
}

#team1_icon, #team2_icon, #team3_icon {
    transition: transform 0.5s ease-in-out;
    transform-origin: bottom;
}

#team1_icon:hover, #team2_icon:hover, #team3_icon:hover{
    transform: scale(1.2) translateY(-3rem);
    cursor: pointer;
}

#team1_screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 100vh;
    right: 100vw;
    background: rgb(0, 122, 51);
    transition: top 0.5s ease-in, right 0.5s ease-in;
    /* display:none; */
}

.team_screen_title{
    text-align: center;
    color: white;
    font-weight: 600;
    padding-top: 30vh;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }