.spcial-container {
    position: absolute;
    z-index: 2;
    right: 3vw;
    bottom: 5vh;
    height: 80vh;
	width: auto;
	display: none;
	/* transition: 0.5s; */
}

.spcial-container img {
	width: 101%;
	height: 100%;
	background: transparent;
	-webkit-mask: url("raw_mask.png");
	mask: url("raw_mask.png");
	-webkit-mask-size: 3000% 100%;
	mask-size: 3000% 100%;
	border: none;
	height: 80vh;
    width: auto;
	/* color: #f00; */
	/* animation: maskin 1.0s steps(29) forwards; */
}

.mas {
	position: absolute;
	color: #f00;
	width: auto;
	height: 80vh;
	overflow: hidden;
}

@-webkit-keyframes maskin {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

@keyframes maskin {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;		
		mask-position: 0 0;
	}
}

@media only screen and (max-width: 768px) {
	.spcial-container img {
		height: auto;
		width: 90vw;
	}
}
