{% extends "base.html" %}
{% load static plotly_dash wagtailimages_tags wagtailcore_tags %}

{% block body_class %}container-fluid{% endblock %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}

<div id="anim_region"></div>
{% plotly_direct name=page.dash_grah_id %}

<img id="home_title" src={% static 'img/home/eBirdTaiwan.png' %}>
<img id='banner_img' class='banner' src={% static 'img/home/home_banner.png' %} >

<img class="corporation_logos" src={% static 'img/home/corporation_logos.png' %}>
<div class="bg-shape fixed-bottom"></div>

<script type="text/python">
from app import home_logic

</script>

{% endblock content %}
