{% extends "base.html" %}
{% load static plotly_dash wagtailimages_tags %}

{% block body_class %}container-fluid{% endblock %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}

{% plotly_direct name=page.dash_grah_id %}

<div class="row fixed-bottom w-75 mx-auto h-75" style="z-index:2 !important">
    <div  class="col-4">
    {% image page.team1_icon width-400 %}
    <H3>隊名A</H3>
    </div>

    <div  class="col-4">
    {% image page.team1_icon width-400 %}
    <H3>隊名B</H3>
    </div>

    <div  class="col-4">
    {% image page.team1_icon width-400 %}
    <H3>隊名C</H3>
    </div>
</div>

<div class="bg-shape fixed-bottom"></div>

{% endblock content %}
