{% load static wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135756065-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135756065-3');
  </script>

    <meta charset="utf-8" />
    <title>
        {% block title %} 
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %} 
        {% endblock %} 
        {% block title_suffix %} 
            {% with self.get_site.site_name as site_name %} 
                {% if site_name %} - {{ site_name }} {% endif %} 
            {% endwith %} 
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'img/home/favicon.ico' %}">
    {# Global stylesheets #} 
    <link href="{% static 'css/ebirdtaiwan.css' %}" rel="stylesheet" />

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap"
      rel="stylesheet"
    />
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap" rel="stylesheet"> 
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/upper_home.css' %}">
    
    <style>
      * {
        font-family: "Noto Sans TC";
      }
    </style>
  </head>

  <body class="" onload="brython()">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style='border-bottom: solid #eee 2px'>
    <a class="navbar-brand pl-5" href="#"><img class='brand_icon' src ={% static 'img/home/eBirdTaiwan.png' %}></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active pl-5">
            <a class="nav-link nav_text" href="{{ page.event1_page.url }}">{{ page.event1_title }}</a>
        </li>
        <li class="nav-item active pl-5">
            <a class="nav-link nav_text" href="{{ page.event2_url }}">{{ page.event2_title }}</a>
        </li>
        <li class="nav-item active pl-5">
            <a class="nav-link nav_text" href="{{ page.event3_page.url }}">{{ page.event3_title }}</a>
        </li>     
        </ul>
    </div>
    </nav>

    <div class='title_region'>
        <div class='title_left'>
            <div class='eBird'><font color='#4CA800;'>e</font><font color='#000'>Bird</font></div>        
            <div class='Taiwan'>Taiwan</div>
        </div>
        <div class='title_right'>秋季月挑戰賽</div>
    </div>


<div class="wrap">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>


    <div class='bird_silhouette'><img src={% static 'img/home/bird_silhouette.png' %}></div>
    <div id='rect1'></div>
    <div id='rect2'></div>
    <div class='second_title'>活動辦法</div>

    <div class='cards_region'>
        <div class='card_gap'></div>
        <div class="mycard">
            {% image page.event1_thumbnail original class="card_img" %}
            <div class="mycard_body">
                <h5>{{ page.event1_title }}</h5>
                <p>{{ page.event1_description|safe }}</p>
                <p class='text-muted'>{{ page.event1_period }}</p>
                <a class='card_button' href='{{ page.event1_page.slug }}'>詳細活動說明</a>
            </div>
        </div>
        <div class='card_gap'></div>
        <div class="mycard">
            {% image page.event2_thumbnail original class="card_img" %}
            <div class="mycard_body">
                <h5>{{ page.event2_title }}</h5>
                <p>{{ page.event2_description|safe }}</p>
                <p class='text-muted'>{{ page.event2_period }}</p>
                <a class='card_button' href='{{ page.event2_url }}'>詳細活動說明</a>
            </div>
        </div>
        <div class='card_gap'></div>
        <div class="mycard">
            {% image page.event3_thumbnail original class="card_img" %}
            <div class="mycard_body">
                <h5>{{ page.event3_title }}</h5>
                <p>{{ page.event3_description|safe }}</p>
                <p class='text-muted'>{{ page.event3_period }}</p>
                <a class='card_button' href='{{ page.event3_page.slug }}'>詳細活動說明</a>
            </div>
        </div>
        <div class='card_gap'></div>
    </div>

    <div id='rect3'>
    <div id='logos'>主辦單位 ｜ <img src={% static 'img/home/corporation_logos.png' %}> &nbsp;&nbsp;&nbsp;&nbsp; 活動贊助 ｜ <img src={% static 'img/home/supporter_logos.png' %}>  </div>
    </div>


{% comment %} <script type="text/python">
from browser import document

def toggleNav(ev):
if document['navbarNav']


document['navbarNav'].bind('click', toggleNav)

onclick="$('#navbarNav').toggleClass('collapse')
</script> {% endcomment %}


  </body>

    <script type="text/javascript" src="{% static 'js/ebirdtaiwan.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/brython.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/brython_stdlib.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
