/*
For all dashboard setting
*/

 /* remove the "loading..." text when initializing app  
    can thist work??
 */
._dash-loading {
    display: none;
    /* text-indent: -9999em; */
}


#dlogos{
    position: absolute;
    bottom: 1vh;
    width: 18vw;
    z-index: 2;
    left: 3vw;    
    width: auto;
    font-size: 0.75vw;
}

#dlogos img {
    height: 2.5vh;
    width: auto;
}


.dbottom_rect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.5vh;
    width: 100vw;
    background: #A4D386;
}


/* 
 For "Three Teams"
*/
.dashboard_container {
    position: absolute;
    left: 2.5vw;
    width: 95vw;
    top: 15vh;
    bottom: 15vh;
}


.single_team_card {
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    margin:2vh 0;
    height: 22.5vh;
    display: inline-flex;
    width: 100%;

}

.team_card_col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.prgression_map {
    height: 95%;
    transform: translateY(2.5%);
} 


.team_card_col img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 768px) {
    .dbottom_rect {
        bottom: -40vh;
    }

    .prgression_map {
        height: 70vh;
    }
    .dashboard_container {
        left: 5vw;
        width: 90vw;
    }
    .team_card_col {
        font-size: 3vw;
    }
}


/*
 For single team
*/

#team_map {
    height: 30vh;
}


.img_flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar_title {
    color: #235EAE;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.bar_card {
    background: #EEE;
    border: 1px solid #FFFCFC;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #CCC;
    border-radius: 10px;
    margin-top: 2vh;
}

.bar_style {
    height: 27vh;
    width: 22.5vw;
    display: block !important;
}

.bar_card hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
@media only screen and (max-width: 768px) {

    .dbottom_rect_one{
        bottom: -215vh !important;
    }

    .bar_card {
        width: 90vw;
        left: 5vw;
        position: relative;
    }

    .bar_style{
        width: 80vw;
        height:35vh;
    }
    #team_map {
        height: 40vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #team_datatable {
        margin-top: 5vh;
    }
}
/*
* for prediction page
*/

.prediction_btn {
    bottom: 0 !important;
    transform: translateY(3vh);
}

.dashfig_title{
    text-align: center;
    font-size: 1.8vw;
    font-weight: 600;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.ext1{
    font-size:1.5vw;
}

#predict_table{
    border: 1px solid #000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 2vh;
    background: #fff;
    overflow: hidden;
    height:45vh;
    width:45vw;
}

@media only screen and (max-width: 768px) {
    #predict_table{ 
        width:80vw;
        margin-left: 5vw;
    }
    #hist2d{
        margin-left: 5vw;
    }
    .dashfig_title{
        font-size: 5vw;
    }
    .ext1{
        text-align: center;
        font-size: 5vw;
        margin-top: 5vh;
    }
    .prediction_btn {
        bottom: -70vh !important;
        transform: translateX(-5vw);
    }
}

/*
* not yet page
*/
#wait01, #wait02, #wait03{
    position: absolute;
}

#wait01{
    transform: translateX(-15px);
    top: 20vh;
    width: 15vw;
}

#wait02{
    z-index: -2;
    left: 12vw;
    bottom: 4vh;
    height: 70vh;
}

#wait03{
    right: 0;
    bottom: 18vh;
    width: 20vw;
}
#not_yet_title{
    position: absolute;
    left: 45vw;
    top: 48vh;
    font-weight: bolder;
    font-size: 3.5vw;
    color: #8CB26C;
}


@media only screen and (max-width: 768px) {
    #wait01{
        width: 45vw;
    }
    #wait02{
        left: -20vw;
        height: 60vh;
    }
    #wait03{
        bottom: 12vh;
        width: 60vw;
    }

    #not_yet_title{
        left: 50vw;
        top: 60vh;
        font-size: 5.0vw;
    }
}


/*  For AutumnChallenge.py */

.ac_container{
    width:100vw;
    height: 255vh;
    position: absolute;
    top:0;
    z-index: -2;    
}

.ac_bg_rect1, .ac_bg_rect2, .ac_bg_rect3{
    position: absolute;    
    width: 0;
    z-index: -1;
}

.ac_bg_rect1{
    top: 80vh;
    height: 45vh;
    border-right: 100vw solid #A4D386;
    border-top: 13vh solid transparent;
}

.ac_bg_rect2{
    top: 125vh;
    height: 45vh;
    border-left: 100vw solid #A4D386;
    border-bottom: 13vh solid transparent;
}

.ac_bg_rect3{
    bottom: 0vh;
    height: 23vh;
    border-right: 100vw solid #A4D386;
    border-top: 13vh solid transparent;
    height: 18vh;
}

.ac_title_region, .ac_dashboard_region, .ac_explain_region {
    padding: 0 4vw;
}

.ac_title_region{
    margin-top: 15vh;
    margin-bottom: 8vh;
}

.ac_title_region h1{
    font-size: 5vw;
    margin-bottom: 5vh;
}

.ac_title_region p{
    font-size: 1.5vw;
    width: 75%;
}

.ac_dashboard_region {
    position: relative;
    margin: 6vh 8vw;
    height: 80vh;
}

/*
add animation here
*/
#ac_cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 18vw;
    overflow: hidden;
    bottom: 0;
}

.ac_card{
    height: 12vh;
    background: #F4F8FE;
    border-radius: 10px;
    position: relative;
    margin-bottom: 1.5vh;
    transition: transform 1s ease-in-out;
}

.ac_card_thumbnail{
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 8vh;        
}

.ac_card_content{
    position: absolute;
    left: 12vh;
    top: 2vh;
    font-weight: 600;
    font-size: 1.6vh;    
}

.ac_card_content p{
    margin: 0;
}

.ac_card_time{
    position: absolute;
    left: 12vh;
    bottom: 2vh;
    font-size: 1.2vh;
    color: #999999;
}


.ac_explain_region{
    margin-top: 20vh;
}
.ac_explain_region h4{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 8vh;
}
.ac_explain_region p{
    font-size: 1.5vw;
    line-height: 4.5vh;
    position: absolute;
    left: 25vw;
    width: 70vw;
}

.ac_explain_icon_region{
    /* width: 15vw; */
    margin-left:8vw;
}

.ac_explain_icons{
    height: 15vh;
    width: auto;
    animation-name: slow_rotate;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes slow_rotate {
     0%   {transform: rotate(0);}
    25%   {transform: rotate(7.5deg);}
    50%   {transform: rotate(0deg);}
    75%   {transform: rotate(-7.5deg);}
    100%   {transform: rotate(0deg);}   
  }

#ac_map{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: 2vh;
}

#live_data_area{
    position: absolute;
    top: 0;
    left: 23vw;
    width: 57vw;
    bottom: 0;
}

#switch_widget{
    color: #fff;
    font-size: 2vh;
    font-weight: 600;
    position: absolute;
    top: 3vh;
    right: 3vh;
    z-index: 5;
    display: inline-flex;
    align-items: center;
}

#ac_datatable{
    position: absolute;
    top: 7vh;    
    left: 0;
    right: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 2vh;
    background: #fff;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {

    .ac_bg_rect2 {     
        height: 20vh;     
    }

    #live_data_area{
        left: 0;
        right: 0;
        height: 55vh;
        width: 85vw;
    }

    #ac_cards {
        top: 57vh;
        width: 100%;
        height: 13vh;
    }

    .ac_title_region h1{
        font-size: 7vw;
    }
    
    .ac_title_region p{
        font-size: 3vw;
        width:95%;
    }

    .ac_explain_region {
        margin-top: 10vh;
    }

    .ac_explain_region h4 {
        font-size: 10vw;
        margin-bottom: 15vh;
    }

    .ac_explain_region p {
        font-size: 2.75vw;
        line-height: 2.75vh;
        margin-right: 2vw;
    }
    .ac_explain_icon_region {
        width: 30vw;
        margin-left: 0;
        margin-right: 10vw;
    }

    .ac_explain_icons {
        height: 10vh;
    }

    .ac_container{
        height: 225vh;
    }

}
