
.left_shape {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-top: 100vh solid #ADD78A;
    border-right: 10vw solid transparent;
    width: 50vw;
    z-index:-1;

}

.info_banner {
    position: absolute;
    right: 10vw;    
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    height: auto;
    z-index:2 !important;    
    
}

.info_content {
    position: absolute;
    left: 5vw;
    top: 10vh;
    right: 60vw;    
    /* overflow-wrap: anywhere;
    z-index:0; */
}


.info_content h2 {
    font-size: 4.5vh;
    line-height: 5.5vh;
    padding-bottom: 3vh;
    font-weight: bolder;
}

.info_content h4 {
    font-size: 2.3vh;
    padding-bottom: 2vh;

}

.info_content p {
    font-size: 2.3vh;
    padding-bottom: 1.5vh;
}

.fall_btn{
    text-align: center;
    padding: 0.7rem 0;
    font-size: 3vh;
    color: #fff;
    font-weight: 600;
    border: 2px solid #37760E;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    
}

.fall_btn:hover {
    background: #8AA26F;
    font-size: 3.4vh;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.info_btn {
    position: absolute;
    left: 5vw;
    bottom: 10vh;
    width: 22vw;    
}

/* prize page*/

/*
TODO:　change responsive text size by vh or vw
*/
img {
    max-width: 100%;
    max-height: 100%;
}

.prize_region {
    position: absolute;
    right: 5vw;
    top: 20vh;
}

.prize_text{
    font-weight: bold;
    font-size: 1.1vw;
    padding-top: 1vh;
    text-align: center;    
    color: #2D3A4B;
    text-shadow: 0px 4px 4px #E2EDF3;
}

/* teams page*/

.teams_region{
    position: absolute;
    top: 15vh;
    bottom: 35vh;
    left:5vw;
    right:5vw;
    text-align:center;
}

.team_name {
    font-size: 40px;
    line-height: 58px;
}

.team_icon {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: 35vh;
    margin: 3vh;
}

.team_description {
    font-size: 24px;
    line-height: 35px;
}
.teams_btn{
    color: #607B49;
    position: absolute;
    bottom: 15vh;
    width: 20vw;
    left: 40vw;
}

.bottom_rect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.5vh;
    width: 100vw;
    background: #A4D386;
}

/* Signup page
*/

.signup_btn01, .signup_btn02 {    
    height: 75%;
    border: 2px solid #E5E5E5 !important;
    
}

.signup_btn01 {
    width: 100%;
    margin-top: 3vh;
    line-height: 1;
    margin-bottom: 2vh;
    background: transparent !important;
}

.signup_btn02{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
    color: #fff !important;
    background: rgba(0,0,0,0.1) !important;
}

.signup_btn02:hover, .signup_btn02:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.2)
}

.close_to_home{
    color: #fff;
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 5;
}

.close_to_home:hover{
    color: #8AA26F !important;
}

.signup_container{
    position: relative;
    top: 20vh;
    width: 75%;
    margin: auto;
}

.thankyou_banner {
    position: absolute;
    width: 25vw;
    left: 23vw;
    top: 30vh;
}

.thankyou_text{
    color: white;
    font-weight: 600;
    font-size: 3vw;
    position: absolute;
    left: 52vw;
    width: 25vw;
    top: 30vh;
    text-align: center;
}
.error_message {
    position: absolute;
    bottom: 10vh;
    color: red;
    margin: auto;
    text-align: center;
    width: 40vw;
    left: 30vw;
    font-size:1.8vw;
    font-weight: 600;
}

/*
* prediction page
*/

#page2{
    top: -100vh;
    transition: top 0.5s;
    z-index: 10 !important;
}


/*
* responsive
*/

@media only screen and (max-width: 768px) {
    .teams_btn{
        left:  20vw;
        width: 60vw;
    }
    
    .error_message{
        width: 80vw;
        left: 10vw;
        font-size: 8vw;
        bottom: 20vh;
    }

    .thankyou_banner{
        top: 15vh;
        width: 80vw;
        left: 10vw;
    }

    .thankyou_text{
        top: 60vh;
        width: 80vw;
        left: 10vw;
        font-size: 8vw;
    }
}


.mobile_title {
    font-size:7vw;
    text-align:center;
    margin-bottom: 0.5rem;
}

.carousel h5, p{
    color: #000;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background: #000;
    background-clip: padding-box;
    transform: translateY(130px);
}

.carousel_img{
    position: relative;
    width: 75%;
    height: 30vh;
    left: 12.5%;
}



#mhelper_region a{
    font-size: 2.3vh;
}

.minfo_content h4 {
    background: #ADD78A;
    border-radius:  0 10px 10px 0;
    font-size: 2.5vh;
    margin: 2.5vh 0 2.5vh 0;
    padding: 1vh 5vw;
    transform: translateX(-15px);
    color: #fff;
    width: max-content;

}
#prize_content h4{
    display:none;
}

.minfo_content h2 {
    display:none;
}

.minfo_content p {
    padding: 0 10vw 0 10vw;
    margin-top: 3vh;
}

.minfo_btn {
    display: block;
    text-align:center;
    font-size: 2.5vh;
    position: relative;
    width: 60vw;
    left: 20vw;    
    border: 2px solid #37760E;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    padding: 0.5vh 0;
    margin: 5vh 0;
}

.mbg_shape{
    width: 100%;
    height: 5vh;
    background: #ADD78A;
    transform: scaleX(110%);
    margin-top: 7vh;    
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.prize_carousel_item{
    left: 10%;
    width: 80%;
    /* height:60%; */
}

.prize_carousel_img {
    width: 60vw;
    height: 20vh;
    margin: 0 auto;
}

.prize_carousel_text{
    text-align: center;
    font-weight: bold;
    color: #2D3A4B;
    text-shadow: 0px 4px 4px #E2EDF3;
    padding-top: 3vh;
}

#prize_cindicator li {
    transform: translateY(5vh);
}