
.left_shape {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-top: 100vh solid #ADD78A;
    border-right: 10vw solid transparent;

    width: 50vw;
    z-index:-1;

}

.info_banner {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    top: 10vh;
    height: 80vh;
    z-index:2 !important;    
    
}

.info_content {
    position: absolute;
    left: 5vw;
    top: 15vh;
    right: 60vw;    
    /* overflow-wrap: anywhere;
    z-index:0; */
}


.info_content h2 {
    font-size: 36px;
    line-height: 52px;
    font-weight: bold;
    padding-bottom: 3vh;
}

.info_content h4 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 3vh;

}

.info_content p {
    font-size: 24px;
    padding-bottom: 3vh;
}

.fall_btn{
    text-align: center;
    padding: 0.7rem 0;
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    border: 2px solid #37760E;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    
}

.fall_btn:hover {
    background: rgba(0,0,0,0.2) !important;;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.info_btn {
    position: absolute;
    left: 5vw;
    bottom: 10vh;
    width: 22vw;    
}

/* prize page*/

/*
TODO:　change responsive text size by vh or vw
*/
.prize_region {
    position: absolute;
    right: 5vw;
    top: 20vh;
}

.prize_text{
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;

    /* identical to box height */

    color: #2D3A4B;

    text-shadow: 0px 4px 4px #E2EDF3;
}

/* teams page*/

.teams_region{
    position: absolute;
    top: 15vh;
    bottom: 35vh;
    left:5vw;
    right:5vw;
    text-align:center;
}

.team_name {
    font-size: 40px;
    line-height: 58px;
}

.team_icon {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: 35vh;
    margin: 3vh;
}

.team_description {
    font-size: 24px;
    line-height: 35px;
}
.teams_btn{
    color: #607B49;
    position: absolute;
    bottom: 15vh;
    width: 20vw;
    left: 40vw;
}

.bottom_rect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100vw;
    background: #A4D386;
}

/* Signup page
*/

.signup_btn01, .signup_btn02 {    
    height: 75%;
    font-size: 26px !important;
    border: 2px solid #E5E5E5 !important;
    
}

.signup_btn01 {
    width: 100%;
    margin-top: 3vh;
    line-height: 1;
    margin-bottom: 2vh;
    background: transparent !important;
}

.signup_btn02{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
    color: #fff !important;
    background: rgba(0,0,0,0.1) !important;
}

.signup_btn02:hover, .signup_btn02:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.2)
}

.close_to_home{
    color: #fff;
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 5;
}

.close_to_home:hover{
    color: rgb(0, 0, 0) !important;
}

.signup_container{
    position: relative;
    top: 20vh;
    width: 75%;
    margin: auto;
}

.thankyou_banner {
    position: absolute;
    width: 25vw;
    left: 23vw;
    top: 30vh;
}

.thankyou_text{
    color: white;
    font-weight: 600;
    font-size: 3vw;
    position: absolute;
    left: 52vw;
    width: 25vw;
    top: 30vh;
    text-align: center;
}
.error_message {
    position: absolute;
    bottom: 10vh;
    color: red;
    margin: auto;
    text-align: center;
    width: 40vw;
    left: 30vw;
    font-size:1.8vw;
    font-weight: 600;
}
