.bar {
    position: fixed;
    right: 4vw;
    top: 4vw;
    width: 50px;
    height: 50px;
    text-align: center;
    color: rgb(145, 145, 145);
    /* background: rgb(145, 145, 145); */
    /* border-radius: .25rem !important; */
}

.bar:hover {
    color: #8AA26F !important;
}

#side_bar {
    display: block;
    z-index: 1000;
}


#side_bar_close {
    display: none;
    z-index: 810;
    color: #fff;
    position: fixed;
    right: 16vw;
}

/* #right_close {
    color: #fff;
    position: absolute;
    left: 1rem;
} */

#menus {
    position: fixed;
    right: 0;
    /* background: #346031; */
    width: 0px;
    height: 100vh;
    z-index: 800;
    transition: width 0.5s;
    background: #8CB36C;
}

.menu_content {
    padding: 15vh 0 0 0;
}

.major_item {
    background: transparent;
    color: #fff;    
    display: block;
    padding: 0.5vw 0 0.5vw 3vw;
    font-size: 1.4vw;
    font-weight: 600;
}

.minor_item {
    background: transparent;
    color: #fff;    
    display: block;
    padding: 0.3vw 0 0.3vw 5vw;
    font-size: 1.0vw;
    font-weight: 600;
}


.major_item:hover, .minor_item:hover {
    background: rgba(0, 0, 0,0.05);
    color: #fff; 
}

.home_title {
    position: absolute;
    left: 4vw;
    top: 4vh;
    width: 25vw;
}    

.green_background {
    position:absolute;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    background: #A4D386;

}

.green_background p, .green_background label{
    color: #fff;
    font-size: 1.25vw;
}

.green_background label{
    font-weight: 600;
}

.green_background h4{
    color: #fff;
    font-size: 1.75vw;
}


@media only screen and (max-width: 768px) {
    .major_item {
        font-size: 3.5vw;
    }

    .minor_item {
        font-size: 2.5vw;
    }
    .home_title {
        width: 60vw;
        height: auto;
    }

    .bar {
        line-height: 8vh;
    }

    .green_background p, .green_background label{
        color: #fff;
        font-size: 5vw;
    }

    .green_background h4{
        color: #fff;
        font-size: 1.75vw;
    }

}


