{% extends "base.html" %}
{% load static plotly_dash wagtailimages_tags wagtailcore_tags %}

{% comment %} {% block body_class %}container-fluid{% endblock %} {% endcomment %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/fall.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block body_class%}ac_container{%endblock%}

{% block content %}
<div class="home_title"><img src={% static 'img/home/eBirdTaiwan.png' %}> </div>
<div class='ac_title_region'>
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle|safe}}</p>
</div>

<div id='dashboard_content' class='ac_dashboard_region'> 
    {% plotly_direct name=page.dash_board_name %} 
</div>
<div class='ac_bg_rect1'></div>
<div class='ac_bg_rect2'></div>
<div class='ac_explain_region'>
    <h4>活動說明</h4>
    <div class='d-flex align-items-center' style='margin-bottom: 7vh'> 
        <div class='ac_explain_icon_region'><img class='ac_explain_icons' src='{% static 'img/fall/trophy.png' %}'></div>
        <p>{{ page.rules|safe}}</p>
    </div>
    <div class='d-flex align-items-center'> 
        <div class='ac_explain_icon_region'><img class='ac_explain_icons' src='{% static 'img/fall/gift_box.png' %}'></div>
        <p>{{ page.prizes|safe}}</p>
    </div>
</div>
<div id='logos'>主辦單位 ｜ <img src={% static 'img/home/corporation_logos.png' %}> &nbsp;&nbsp;&nbsp;&nbsp; 活動贊助 ｜ <img src={% static 'img/home/supporter_logos.png' %}>  </div>
<div class='ac_bg_rect3'></div>
<script type="text/python">

</script>
{% endblock content %}