{% extends "base.html" %}
{% load static plotly_dash wagtailimages_tags wagtailcore_tags %}

{% block body_class %}container-fluid{% endblock %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/fall.css' %}">
{% endblock extra_css %}

{% block content %}
<div id="home_title"> <img src={% static 'img/home/eBirdTaiwan.png' %}> </div>
{% plotly_direct name=page.dash_board_name %}

<div class='bottom_rect'></div>
{% endblock content %}
