{% extends "base.html" %}
{% load static plotly_dash wagtailimages_tags wagtailcore_tags %}

{% block body_class %}container-fluid{% endblock %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/fall.css' %}">
{% endblock extra_css %}

{% block content %}
<div id="home_title"> <img src={% static 'img/home/eBirdTaiwan.png' %}> </div>
<div id='dashboard_content' style='display:none'>
    {% plotly_direct name=page.dash_board_name %}
</div>


<div class='bottom_rect'></div>

<script type="text/python">
from browser import document
import datetime

if datetime.date.today() >= datetime.date(2020,9,25):
    document['dashboard_content'].style.display = 'block'


</script>
{% endblock content %}
