
{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}container-fluid{% endblock %}

{% block extra_css %}    
 <link rel="stylesheet" type="text/css" href="{% static 'css/fall.css' %}">
{% endblock extra_css %}

{% block content %}
<div id='prize_content' style='display:none'>
<div class='info_content'>{{ page.reward_content | richtext}} </div>
<div class='left_shape'></div>
<div class='prize_region'>
    <div class='row'>
        <div class='col-5'>
        <img src={% static 'img/fall/owl_stick.png' %} style='width:15vw;height:auto'>
        <div class='prize_text'>eBird Taiwan 貼紙</div>
        </div>
        <div class='col-7'>
        <img src={% static 'img/fall/owl1.png' %} style='width:25vw;height:auto'>
        <div class='prize_text'>貓頭鷹浴巾組-八色鳥咖啡出品*1</div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-5'>
        <img src={% static 'img/fall/telescope.png' %} style='width:15vw;height:auto'>
        <div class='prize_text'>歐帝生2019望遠鏡新品5折折價卷*1</div>
        </div>        
        <div class='col-7'>
        <img src={% static 'img/fall/calendar.png' %} style='width:25vw;height:auto'>
        <div class='prize_text'>台灣野鳥月曆</div>
        </div>
    </div>
</div>
</div>

<div id='mprize_content' style='display:none'>
    <img id="home_title" src={% static 'img/home/eBirdTaiwan.png' %}>
    <div class='mobile_title' style='padding-top: 12vh'>2020秋季臺北觀鳥大賽</div>
    <div class='mobile_title' style='color:#607B49;'>AUTUMN CHALLENGE</div>
    <div class='minfo_content'>{{ page.reward_content | richtext}} </div>
</div>

<script type="text/python">
from browser import window, document, html

if window.innerWidth >= 768:
    document['prize_content'].style.display = 'block'

if window.innerWidth < 768:    
    document['mprize_content'].style.display = 'block'    

</script>

{% endblock content %}
